

{{ form_start(form, { 'attr' : { 'class': 'popup-form' } }) }}
{{ form_widget(form.username, { 'attr' : { 'class': 'form-control', 'placeholder': 'Pseudo' } }) }}

{{ form_widget(form.plainPassword.first, { 'attr' : { 'class': 'form-control', 'placeholder': 'Mot de passe' } }) }}
{{ form_widget(form.plainPassword.second, { 'attr' : { 'class': 'form-control', 'placeholder': 'Confirmation' } }) }}
{% if is_granted('ROLE_ADMIN') %}
{{ form_widget(form.roles) }}
{% else %}
{{ form_widget(form.roles, { 'attr' : { 'style': 'display:none' } }) }}
{% endif %}
<button class="btn btn-white-fill">{{ button_label|default('S\'inscrire') }}</button>

{{ form_end(form) }}
